.carousel-cell {
  width: 100%;
  height: 200px;
  overflow: auto;
  // Flexbox Settings
  display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
  justify-content: left;
  align-content: stretch;
  align-items: left;

  h2 {
    margin: 2em 2em 2em 2em;
    max-width: 50em;
    color: black;
  }
  
  p {
    margin: 2em 2em 2em 2em;
    max-width: 50em;
    color: black;
  }
}
.carousel-cell.size-180 {
  width: 180px;
}
.carousel-cell.size-large {
  width: 75%;
}

.carousel-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
