.mainPage-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 2.5);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home-main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .booked-img {
    position: relative;
    overflow: hidden;

    .picture-banner {
      object-fit: cover;
      max-height: 120px;
      width: 298px;
    }

    .image-header {
      font-size: 1.4em;
      font-weight: bold;
      position: absolute;
      color: white;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }

    .image-text {
      font-size: 0.9em;
      font-weight: 300;
      position: absolute;
      color: white;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
    }
  }

  .booked-img:hover {
    .image-header {
      top: 20%;
      transition: 0.5s;
    }

    .image-text {
      top: 50%;
      transition: 0.5s;
    }
  }
}

.open-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  color: $color-light;
  width: 600px;
  max-height: 120px;
  text-transform: uppercase;

  h2 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;

  .gallery-item {
    position: relative;
    overflow: hidden;

    img {
      height: 196px;
      width: 196px;
      object-fit: cover;
    }

    .item-icon {
      position: absolute;
      color: $color-main;
      opacity: 0.4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -5;
    }
  }

  .gallery-item:hover {
    .item-efect {
      position: absolute;
      content: '';
      height: 200px;
      width: 200px;
      background-color: $color-light;
      opacity: 0.2;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .item-icon {
      font-size: 1.2em;
      opacity: 8;
      z-index: 5;
      transition: .8s;

      .fa-heart {
        padding-right: 5px;
        color: $color-danger;
        opacity: 1;
      }
      
    }
  }
}

.slider-mainPage {
  padding: 40px 0 60px 0;
}

.instagram-link {
  padding-top: 20px;

  a {
    color: $color-main;
  }
}
