.mainPage-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 2.5);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home-main-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  .booked-img {
    .picture-banner {
      object-fit: cover;
      max-height: 120px;
      width: 300px;
    }

    .left-img {
      padding-right: 4px;
    }
    
    .right-img {
      padding-left: 4px;
    }
  }
}

.open-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  color: $color-light;
  padding-left: 0;
  margin-left: 0;
  width: 600px;
  max-height: 120px;
  text-transform: uppercase;

  h2 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;

  img {
    height: 196px;
    width: 196px;
    object-fit: cover;
  }
}

.slider-mainPage {
  padding: 40px 0 60px 0;
}

.instagram-link {

  padding-top: 20px;

  a {
    color: $color-main;
  }
}